@model IEnumerable<ProvaFabio.Models.Produtos>

@{
    ViewBag.Title = "Produtos";
}

<h2 style="margin-bottom:40px;">Produtos</h2>

<p>
    @Html.ActionLink("Novo Produto", "Create",new { },new {@class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            Descrição
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            Custo Inicial
        </th>
        <th>
            Custo Atual
        </th>
        <th>
            Grupo
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoIni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoAtu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Grupo1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class="btn btn-warning"}) 
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Deletar", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
